body, html {
    margin: 0;
    font-family: Arial, Verdana;
    position: relative;
    height: 100%;
}

button {
    width: 100%;
    display: block;
    background: #cfcfcf;
    border: 1px solid #000;
    margin: 0;
    padding: 20px;
    cursor: pointer;
    font-size: 24px;
}

button:active {
    background: #c0c0c0;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    font-size: 20px;
}

div {
    padding: 10px 10px 20px 10px;
    margin: 10px 0;
    border-bottom: 1px solid #000;
}

div#custom-login, div#custom-registration {
    display: none;
    margin: 0;
    padding: 0;
}

div#popup-window {
    width: 100%;
    height: 2000px;
    background-color: rgba(0,0 , 0 , 0.7);
    margin: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    display: none;
}

div#popup {
    width: 60%;
    margin: 100px auto;
    background: #fff;
    border: 0;
    display: none;
}